.daily-prophet-header {
    grid-column-start: 1;
    grid-column-end: 7;
    margin: 0 20px;
}

@import '../molecules/header/header-special-edition';
@import '../molecules/header/header-paper-title';
@import '../molecules/header/header-info';
@import '../molecules/header/header-table-of-contents';