// Daily prophet title
@font-face {
    font-family: 'mugglenews';
    src: url('../fonts/mugglenews.woff2') format('woff2'),
         url('../fonts/mugglenews.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'missfajardose';
    src: url('../fonts/missfajardose-regular-webfont.woff2') format('woff2'),
         url('../fonts/missfajardose-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'headoh';
    src: url('../fonts/headoh__-webfont.woff2') format('woff2'),
         url('../fonts/headoh__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Subtitles
@font-face {
    font-family: 'euphorigenicregular';
    src: url('../fonts/euphorigenic-webfont.woff2') format('woff2'),
         url('../fonts/euphorigenic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droidserif';
    src: url('../fonts/droidserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/droidserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Western
@font-face {
    font-family: 'cfklondikepersonal';
    src: url('../fonts/cfklondikepersonal-regular-webfont.woff2') format('woff2'),
         url('../fonts/cfklondikepersonal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
