$basic-black:      #282626 !default;

html {
    font-size: 16px;
}

body {
    color: $basic-black;

    background-color: #333;
}

.daily-prophet-holder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 1200px;
    padding: 30px;
    margin: 100px auto;

    background-image: url(../images/vintage-concrete.png);
    background-color: rgb(212, 203, 170);
}
