.daily-prophet-header__table-of-contents {
    display: grid;
    grid-template-columns: .25fr .75fr auto .4fr .6fr;
    margin: 0 20px;

    text-transform: uppercase;
}

// Zodiac
.daily-prophet-header__zodiac {
    font-size: 18px;
    text-align: center;
}

.daily-prophet-header__zodiac-costs {
    width: 55px;
    height: 55px;

    font-family: 'cfklondikepersonal';
    color: #fff;

    background-color: $basic-black;
    border-radius: 50%;
}

.daily-prophet-header__zodiac-text {
    margin: 10px 0 0;

    font-family: 'droidserif';
    line-height: .8;
}

.daily-prophet-header__zodiac-costs-number {
    display: block;

    font-size: 32px;
    line-height: 1;

    transform: translateY(1px);
}

.daily-prophet-header__zodiac-costs-text {
    display: block;

    font-size: 14px;

    transform: translateY(-3px);
}

// Stupid muggles
.daily-prophet-header__stupid-muggles {
    position: relative;

    padding: 30px 0 8px;

    font-family: 'droidserif';
    font-size: 26px;
    text-align: center;
    line-height: 0.9;
}

.daily-prophet-header__stupid-muggles-quote {
    margin: 0;

    &::before {
        content: "“";
    }

    &::after {
        content: "”";
    }
}

.daily-prophet-header__stupid-muggles-subtitle {
    display: inline-block;

    font-family: 'headoh';
    font-size: 22px;

    transform: translateY(-3px);
}

.daily-prophet-header__stupid-muggles-page-number {
    position: absolute;
    top: 54px;
    right: 30px;

    font-family: 'headoh';
    font-size: 52px;
}
