.daily-prophet-header__divider-holder {
    display: grid;
    grid-template-columns: 1fr auto 0.8fr;
}

.daily-prophet-header__divider {
    height: 6px;
    margin: 0;

    background-color: #000;
    border: none;
}

.daily-prohet-header__title-prefix {
    height: 6px;
    margin: 0 20px;

    font-family: 'missfajardose';
    font-size: 100px;
    line-height: 1;

    transform: translateY(-64px);
}

.daily-prophet-header__title {
    margin: 0;

    font-family: 'mugglenews';
    font-size: 156px;
    font-weight: 400;
    line-height: .85;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

    white-space: nowrap;
    transform: translateY(8px);
}

.daily-prophet-header__title--yellow {
    color: #d8c32a;
}