.daily-prophet-header__paper-info-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;

    font-family: 'droidserif';
    text-transform: uppercase;
}

.daily-prophet-header__paper-info--big {
    font-size: 18px;
}