.daily-prophet-header__special-edition-holder {
    text-align: right;
}

.daily-prophet-header__special-edition {
    font-family: 'euphorigenicregular';
    font-size: 2em;
    text-transform: uppercase;
}